.maincontainer {
  padding: 20px 10px 10px;
  display: grid;
  margin: auto;
  grid-template-areas:
    'header'
    'workoutDate'
    'rowingMode'
    'rowingInterval'
    'workoutTime'
    'strokes'
    'distance'
    'calories'
    'save-btn'
    'reset-btn';
  gap: 20px;
}

@media(min-width: 50em) {
  .maincontainer {
    width: 66%;
    grid-template-areas:
    'header header header header header header'
    'workoutDate workoutDate workoutDate rowingMode rowingMode rowingMode'
    'rowingInterval rowingInterval rowingInterval workoutTime workoutTime workoutTime'
    'strokes strokes distance distance calories calories'
    '. . . . save-btn reset-btn';
  }
}

@media(min-width: 90em) {
  .maincontainer {
    width: 66%;
    grid-template-areas:
    'header header header header header header header header header header header header'
    'workoutDate workoutDate workoutDate workoutDate rowingMode rowingMode rowingMode rowingMode rowingInterval rowingInterval rowingInterval rowingInterval'
    'workoutTime workoutTime workoutTime strokes strokes strokes distance distance distance calories calories calories'
    '. . . . . . . . . .save-btn reset-btn';
  }
  .grid-item-name {
    grid-column: span 1.5;
  }

  .grid-item-publisher {
    grid-column: span 1.5;
  }
}

.grid-item-header {
  justify-self: center;
  grid-area: header;
}

.grid-item-name {
  grid-area: name;
}

.grid-item-workoutDate {
  grid-area: workoutDate;
}

.grid-item-rowingMode {
  grid-area: rowingMode;
}

.grid-item-rowingInterval {
  grid-area: rowingInterval;
}

.grid-item-workoutTime {
  grid-area: workoutTime;
}

.grid-item-strokes {
  grid-area: strokes;
}

.grid-item-distance {
  grid-area: distance;
}

.grid-item-calories {
  grid-area: calories;
}

.grid-item-reset-btn {
  grid-area: reset-btn;
}

.grid-item-save-btn {
  grid-area: save-btn;
}

.table-container {
  max-height: 500px;
  overflow: auto;
  padding-left: 10px;
}
