<form [formGroup]="form">
  <div class="maincontainer">
    <h1 class="grid-item-header">Erstelle eine Rudereinheit</h1>
    <mat-form-field class="grid-item-workoutDate">
      <mat-label>Datum des Workouts</mat-label>
      <input matInput [matDatepicker]="workoutDatePicker" formControlName="workoutDate">
      <mat-hint>z.B. 01.01.2000</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="workoutDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #workoutDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="grid-item-rowingMode">
      <mat-label>Rudermodus</mat-label>
      <mat-select formControlName="rowingMode" (selectionChange)="modeChanged($event)">
        @for (mode of rowingModes; track mode) {
          <mat-option [value]="mode">{{ mode | titlecase }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="grid-item-rowingInterval">
      <mat-label>Ruderintervall (Optional)</mat-label>
      <mat-select formControlName="rowingInterval">
        @for (interval of (rowingIntervals$ | async); track interval) {
          <mat-option [value]="interval">{{ interval | intervalStringRepresentation }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="grid-item-workoutTime">
      <mat-label>Gesamtdauer des Workouts</mat-label>
      <input matInput type="text" [pattern]="timePattern" formControlName="workoutTime">
      <mat-error>Ungültiges Zeitformat. Bitte verwenden Sie das Format hh:mm:ss</mat-error>
      <mat-hint>z.B. 00:13:37</mat-hint>
      <mat-icon matIconSuffix>timer</mat-icon>
    </mat-form-field>

    <mat-form-field class="grid-item-strokes">
      <mat-label>Anzahl Ruderschläge</mat-label>
      <input matInput type="number" step="1" min="1" formControlName="strokes">
      <mat-icon matIconSuffix>rowing</mat-icon>
    </mat-form-field>

    <mat-form-field class="grid-item-distance">
      <mat-label>Zurückgelegte Distanz</mat-label>
      <input matInput type="number" step="1" min="1" formControlName="distance">
      <mat-icon matIconSuffix>laps</mat-icon>
    </mat-form-field>

    <mat-form-field class="grid-item-calories">
      <mat-label>Verbrannte Kalorien</mat-label>
      <input matInput type="number" step="1" min="0" formControlName="calories">
      <mat-icon matIconSuffix>local_fire_department</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="createRowingSession()" [disabled]="form.invalid"
            class="grid-item-save-btn">
      Erstellen
    </button>
    <button mat-raised-button color="warn" (click)="reset()" class="grid-item-reset-btn">
      Reset
    </button>
  </div>
</form>

<div class="table-container">
  <table mat-table [dataSource]="rowingSessions$ | async">
    <caption hidden>Liste aller Rudereinheiten</caption>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Spalte Datuum des Workouts -->
    <ng-container matColumnDef="workoutDate">
      <th mat-header-cell *matHeaderCellDef> Datum des Workouts</th>
      <td mat-cell *matCellDef="let element"> {{ element.workoutDate | date: "dd.MM.YYYY" }}</td>
    </ng-container>

    <!-- Spalte Rudermodus -->
    <ng-container matColumnDef="rowingMode">
      <th mat-header-cell *matHeaderCellDef> Rudermodus</th>
      <td mat-cell *matCellDef="let element"> {{ element.rowingMode | titlecase }}</td>
    </ng-container>

    <!-- Spalte Ruderintervall -->
    <ng-container matColumnDef="rowingInterval">
      <th mat-header-cell *matHeaderCellDef> Ruderintervall</th>
      <td mat-cell *matCellDef="let element"> {{ element.rowingInterval | intervalStringRepresentation }}</td>
    </ng-container>

    <!-- Spalte Dauer des Workouts -->
    <ng-container matColumnDef="workoutTime">
      <th mat-header-cell *matHeaderCellDef> Dauer des Workouts</th>
      <td mat-cell *matCellDef="let element"> {{ element.workoutTime | workoutTimeStringRepresentation }}</td>
    </ng-container>

    <!-- Spalte Ruderschläge -->
    <mat-text-column name="strokes"></mat-text-column>
    <!-- Spalte Distanz -->
    <mat-text-column name="distance"></mat-text-column>
    <!-- Spalte Kalorien -->
    <mat-text-column name="calories"></mat-text-column>
  </table>
</div>
