<div class="mainContainer">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button (click)="drawer.close()" class="header-btn" routerLink="/">
      Florians Spielwiese
    </button>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sideNavContainer">
    <mat-drawer #drawer>
      <div class="drawer">
        <button mat-button [routerLink]="URL.HOME" (click)="drawer.close()">
          <mat-icon>home</mat-icon>
          Startseite
        </button>
        <button mat-button [routerLink]="URL.BOARDGAMES" (click)="drawer.close()">
          <mat-icon>casino</mat-icon>
          Brettspiele erstellen
        </button>
        <button mat-button [routerLink]="URL.ROWING" (click)="drawer.close()">
          <mat-icon>rowing</mat-icon>
          Rudersession erstellen
        </button>
      </div>
    </mat-drawer>

    <router-outlet></router-outlet>

  </mat-sidenav-container>
</div>

